body {
  margin: 10px;
}
.boxes {
  border: 3px solid lightgrey;
  position: relative;
  height: 200vh;
}
.box {
  width: 5rem;
  height: 5rem;
}
.box-one {
  background-color: gold;
}
.box-two {
  background-color: tomato;
  position: fixed;
  top: 0;
  left: 2rem;
  right: 2rem;
  width: auto;
  z-index: 1;
}
.box-three {
  background-color: pink;
}
